<div class="adminnavi">
  <a href="<{$xoops_url}>/admin.php"><{$smarty.const._MI_LEGACY_NAME}></a>
  &raquo;&raquo; <span class="adminnaviTitle"><{$smarty.const._CPHOME}></span>
</div>

<div class="tips">
<div class="admin_info">
    <h4 class="admintitle">ようこそ！ XoopsX (ten) ディストリビューション</h4>
		<p>素敵なサイトを構築しましょう～！</p>
</div>
<div>
<ul>
<li><a href="http://xoopscube.jp/" target="_blank">XOOPS Cube 日本公式サイト</a>
<ul>
<li><a href="http://xoopscube.jp/modules/doc/?XOOPS%20Cube%E3%81%A8%E3%81%AF" target="_blank">XOOPS Cube とは？</a></li>
<li><a href="http://xoopscube.jp/modules/doc/?%E3%82%A4%E3%83%B3%E3%82%B9%E3%83%88%E3%83%BC%E3%83%AB%E3%82%AC%E3%82%A4%E3%83%89#a09517c9" target="_blank">XOOPS X について</a></li>
<li><a href="http://xoopscube.jp/modules/doc/?%E3%82%B5%E3%82%A4%E3%83%88%E9%81%8B%E5%96%B6%E8%80%85%E3%81%AE%E6%96%B9%E3%81%B8" target="_blank">サイト構築・運営のヒント</a></li>
<li><a href="http://xoopscube.jp/modules/doc/?%E3%83%87%E3%82%B6%E3%82%A4%E3%83%8A%E3%83%BC%E3%81%AE%E6%96%B9%E3%81%B8" target="_blank">デザイナーの方へ</a></li>
<li><a href="http://xoopscube.jp/modules/doc/?%E9%96%8B%E7%99%BA%E8%80%85%E3%81%AE%E6%96%B9%E3%81%B8" target="_blank">開発者の方へ</a></li>
</ul>
</li>
<ul>
</div>
<div>
<ul>
<li><a href="http://xoopscube.jp/modules/doc/?%E3%82%B3%E3%83%9F%E3%83%A5%E3%83%8B%E3%83%86%E3%82%A3" target="_blank">コミュニティ</a>
<ul>
<li><a href="http://xoopscube.jp/news" target="_blank">XOOPS ニュース</a></li>
<li><a href="http://xoopscube.jp/forum" target="_blank">公式サイト・フォーラム</a></li>
<li><a href="http://xoopscube.jp/modules/newbb" target="_blank">公式サイト・旧フォーラム（参考）</a></li>
<li><a href="http://www.xugj.org/" target="_blank">XOOPS Users Group Japan(XUGJ)</a>
<ul>
<li><a href="http://www.xugj.org/modules/bulletin/" target="_blank">XUGJ ニュース</a></li>
<li><a href="http://www.xugj.org/modules/d3forum/" target="_blank">XUGJ Forum</a></li>
<li><a href="http://www.xugj.org/modules/QandA/" target="_blank">XOOPS Q&A</a></li>
<li><a href="http://www.xugj.org/modules/xpwiki/?%E8%B3%AA%E5%95%8F%E3%81%99%E3%82%8B%E5%89%8D%E3%81%AB%E8%AA%AD%E3%82%80%E3%81%A8%E5%8F%82%E8%80%83%E3%81%AB%E3%81%AA%E3%82%8B%E3%81%8B%E3%82%82%E3%81%97%E3%82%8C%E3%81%AA%E3%81%84%E3%83%9A%E3%83%BC%E3%82%B8" target="_blank">質問する前に読むと参考になるかもしれないページ</a></li>
</ul>
</li>
<li><a href="https://www.facebook.com/groups/xoopscube.beginner/" target="_blank">Facebook XOOPS初心者勉強会</a></li>
<li><a href="https://www.facebook.com/groups/XoopsX/" target="_blank">Facebook XOOPSX</a></li>
<li><a href="https://www.facebook.com/groups/xoops.creators/" target="_blank">Facebook XOOPS Creators</a></li>
<li><a href="http://usadeki.jp/" target="_blank">うさぎにもできるXOOPS Cube入門</a></li>
</ul>
</li>
<ul>
</div>
<div>
<ul>
<li>各種マニュアル
<ul>
<li><a href="http://www.xugj.org/modules/xpwiki/?XCLBasicManual" target="_blank">XCL Basic Manual (xugj)</a></li>
<li><a href="http://www.xugj.org/modules/xpwiki/?ModuleManuals" target="_blank">XOOPS Module Manual (xugj)</a></li>
<li><a href="http://www.xugj.org/modules/xpwiki/?CustomizeManual
" target="_blank">Customize Manual (xugj)</a></li>
<li><a href="http://www.xugj.org/modules/xpwiki/?Smarty%E5%B0%8F%E3%83%8D%E3%82%BF
" target="_blank">Smarty 小ネタ (xugj)</a></li>
<li><a href="http://xoops123.com/modules/xpwiki/" target="_blank">新XOOPS入門 (xoops123)</a></li>
<li><a href="http://xoops123.com/modules/pico/index.php?cat_id=11" target="_blank">XCLのデザイン変更 (xoops123)</a></li>
<li><a href="http://xoops123.com/modules/pico/index.php?cat_id=6" target="_blank">デザイナーのためのXOOPSマニュアル</a></li>
<li><a href="http://qiita.com/advent-calendar/2012/xoops-themes-templates" target="_blank">XOOPS Themes and Templates Advent Calendar 2012（Qiita）</a></li>
<li><a href="https://github.com/suin/xoopscube-cheatsheet" target="_blank">XOOPS Cube チートシート (suin)</a></li>
</ul>
</li>
<ul>
</div>
</div>
